{
  "extends": ["@astral/eslint-config-react-ts"],
  "rules": {
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": " @example/**",
            "group": "internal",
            "position": "after"
          }
        ],
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": [
          "internal"
        ],
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "object",
          "index"
        ]
      }
    ]
  }
}
