{
  "root": true,
  "extends": ["@astral/eslint-config-react-ts"],
  "env": {
    "node": true
  },
  "ignorePatterns": ["lib", "build", "node_modules"],
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "packageDir": ["./", "./"] }
    ],
    "@typescript-eslint/consistent-type-imports": "error"
  },
  "overrides": [
    // Для увеличения производительности plugin:testing-library запускается только для test.tsx файлов
    {
      "files": "**/*.test.tsx",
      "extends": ["plugin:testing-library/react"],
      "plugins": ["testing-library"]
    }
  ]
}
