{
  "extends": "../.eslintrc",
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": true, "packageDir": ["./", "../"] }
    ],

    "@cspell/spellchecker": [
      "off",
      {
        "configFile": "../.cspell.json"
      }
    ]
  }
}
